body {
  background: #FFEBCD;
}

nav, footer{
  background-color: grey;
  border: 1px solid black;
}

table {
  width: 90%;
  margin: auto;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.table-custom, form  {
  background-color: #DEB887;
  border: 2px solid black;
}

.amount-box {
  width: 70px;
  text-align: center;
}

.converter {
  font-size: 25px;
  padding-top: 100px;
}

.main {
  box-shadow: 3px 5px 25px 25px grey;
  border-radius: 40px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.country-code {
  text-align: left;
}

.converted-rate {
  text-align: right;
}
